.container{
    font-family: sans-serif;
    font-style: oblique;
    font-size: xx-large;
    text-align: center;
    display: grid;
    border: 1px solid black;
    margin: 2vh;
    height: 110vh;
    width: 100vh;
    box-shadow: 3px 3px 10px 0px rgb(22,11,11);
    background:darkgoldenrod ;
}
body{
    justify-content: center;
    align-items: center;
    display: grid;
}

.card{
    overflow: auto;
}

.title{
    text-align: center;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: xx-large;
  margin: 10vh;
}

.image{
    max-height: 56vh;
    
    margin-top: 10px;
    height: auto;
	max-width: 100%;
    
}

.content{
    font-family: sans-serif;
    font-weight: bolder;
    font-size: xx-large;
    margin: 10vh;
}
